body {
    margin:0;
    font-family:roboto;
}

.header {
    display:flex;
    background-color:#1f2937;
    justify-content: space-between;
    padding: 20px 100px;
}

a {
    text-decoration:none;
    color:white;
}

.header ul {
    display:flex;
    align-items:center;
    list-style:none;
    font-weight:400;
    gap:30px;
}

p.header-logo {
    display:flex;
    align-items:center;
    color:white;
    font-size: 24px;
    font-weight:900;
    margin:0;
    text-transform:uppercase;
}

.jumbo {
    background-color: #1f2937;
    display:flex;
    color:white;
    padding: 60px 100px;
}

.left-jumbo {
    padding: 0 60px 0 0;
}

.left-jumbo h1 {
    font-weight:900;
    font-size:42px;
}

.left-jumbo button {
    background-color:#3882f6;
    color:white;
    border-radius:5px;
    border:0;
    padding: 5px 20px;
    font-size:16px;
    text-decoration:none;
}

.right-jumbo img {
    width:400px;
    height:auto;
}


.info-title {
    display:flex;
    justify-content: center;
    font-weight:900;
    padding: 30px 0;
}

.boxes-section {
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    padding: 0 0 60px 0;
    justify-content: center;
    gap:40px;
}

.box img {
    width:150px;
    height:auto;
}

.box {
    width:150px;
}

.quote-section {
    display:flex;
    flex-direction:column;
    background-color:#e5e7eb;
    padding: 90px 100px;
}

.quote-section .quote {
    font-weight:100;
    font-style:italic;
    font-size:36px;
    margin:0;
}

.quote-section .author {
    font-size: 24px;
    text-align:end;
    font-weight:bold;
    margin: 10px 0 0 0;
}

.cta-section {
    display:flex;
    justify-content: center;
    padding: 60px 0;
}

.cta-box {
    display:flex;
    width: 75%;
    background-color: #3882f6;
    color:white;
    padding:50px;
    border-radius: 5px;
}

.cta-button-section {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}

.cta-text h4 {
    font-weight:600;
    font-size:24px;
    margin: 0 0 10px 0;
}

.cta-button {
    color:white;
    border: solid 2px white;
    border-radius: 5px;
    background-color:#3882f6;
    padding: 5px 20px;
}

.footer {
    display:flex;
    justify-content: center;
    background-color: #1f2937;
    color:white;
    padding: 15px 0;
}